In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Online_Retail_data.csv")

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12-01-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12-01-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12-01-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12-01-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12-01-2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12-09-2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12-09-2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12-09-2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12-09-2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12-09-2011 12:50,4.95,12680.0,France

---

### Total sales amount

In [15]:
df["SalesAmount"] = df["Quantity"] * df["UnitPrice"]
total_sales = df["SalesAmount"].sum()
total_sales

np.float64(9747747.934)

---

### Most sold product

In [16]:
most_sold_product = df.groupby("Description")["Quantity"].sum().idxmax()
most_sold_product

'WORLD WAR 2 GLIDERS ASSTD DESIGNS'

In [17]:
top_revenue_product = df.groupby("Description")["SalesAmount"].sum().idxmax()
top_revenue_product

'DOTCOM POSTAGE'

---

### Average order value

In [18]:
avg_order_value = df.groupby("InvoiceNo")["SalesAmount"].sum().mean()
avg_order_value

np.float64(376.3609240926641)

---

### Total Unique Customers

In [19]:
unique_customers = df["CustomerID"].nunique()
unique_customers

4372