### List operations

---

#### 1. print maximum from the list

In [1]:
def print_max(arr: list):
    if len(arr) == 0:
        raise IndexError("The list is empty")
        return
    maximum = float('-inf')
    for i in range(len(arr)):
        if not isinstance(arr[i], (int, float)):
            raise TypeError("Input must be a number")
            return
        if arr[i] > maximum:
            maximum = arr[i]
    return maximum

##### -----------------******************** Trying Different values in the list ***********************-----------------

In [2]:
try:
    arr = [1,5,8,4,9,0,3,22,5,7,89,44,33,2,5,7,9,45,67,35,64,99]    # all integers
    result = print_max(arr)
    
except Exception as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
except TypeError as e:
    print("Caught an exception: ", e)
else:
    print(f"The maximum number from the list is {result}")
finally:
    print("Execution completed successfully")

The maximum number from the list is 99
Execution completed successfully

In [3]:
# Rasing a type error for invalid input
 
try:
    arr = [1,5,8,4,9,0,3,22,5,7,89,44,33,2,5,7,9,'e',45,67,35,64,99]      # a character in between
    result = print_max(arr)
except Exception as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
except TypeError as e:
    print("Caught an exception: ", e)
else:
    print(f"The maximum number from the list is {result}")
finally:
    print("Execution completed successfully")

Caught an exception:  Input must be a number
Execution completed successfully

In [4]:
# Raise exception for list of None

try:
    arr = [None, None, None]       # a list of None
    result = print_max(arr)
except Exception as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
except TypeError as e:
    print("Caught an exception: ", e)
else:
    print(f"The maximum number from the list is {result}")
finally:
    print("Execution completed successfully")

Caught an exception:  Input must be a number
Execution completed successfully

In [5]:
# Raise exception for empty list

try:
    arr = [] # empty list
    result = print_max(arr)
except Exception as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
except TypeError as e:
    print("Caught an exception: ", e)
else:
    print(f"The maximum number from the list is {result}")
finally:
    print("Execution completed successfully")

Caught an exception:  The list is empty
Execution completed successfully

---

---

#### 2. Find minimum

In [6]:
def print_min(arr: list):
    if len(arr) == 0:
        raise IndexError("List is empty")
        return
    minimum = arr[0]
    for i in range(1, len(arr)):
        if not isinstance(arr[i], (int, float)):
            raise TypeError("Value must be a number, check if there exists a non-numeric value in the list")
            return
        if arr[i] < minimum:
            minimum = arr[i]
    return minimum

##### -----------------******************** Trying Different values in the list ***********************-----------------

In [7]:
try:
    arr2 = [1,5,8,4,9,0,3,22,5,7,89,44,33,2,5,7,9,45,67,35,64,99]    # all integers
    result2 = print_min(arr2)
except Exception as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
except TypeError as e:
    print("Caught an exception: ", e)
else:
    print(f"The minimum number from the list is {result2}")
finally:
    print("Execution completed successfully")

The minimum number from the list is 0
Execution completed successfully

In [8]:
# Raising a type error for invalid input
 
try:
    arr2 = [1,5,8,4,9,0,3,22,5,7,89,44,33,2,5,7,9,'e',45,67,35,64,99]      # a character in between
    result2 = print_min(arr2)
except Exception as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
except TypeError as e:
    print("Caught an exception: ", e)
else:
    print(f"The minimum number from the list is {result2}")
finally:
    print("Execution completed successfully")

Caught an exception:  Value must be a number, check if there exists a non-numeric value in the list
Execution completed successfully

In [9]:
try:
    arr2 = [] # empty list
    result2 = print_min(arr)
except Exception as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
except TypeError as e:
    print("Caught an exception: ", e)
else:
    print(f"The minimum number from the list is {result}")
finally:
    print("Execution completed successfully")

Caught an exception:  List is empty
Execution completed successfully

In [10]:
# Raise exception for list of None

try:
    arr2 = [None, None, None]       # a list of None
    result2 = print_min(arr2)
except Exception as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
except TypeError as e:
    print("Caught an exception: ", e)
else:
    print(f"The minimum number from the list is {result}")
finally:
    print("Execution completed successfully")

Caught an exception:  Value must be a number, check if there exists a non-numeric value in the list
Execution completed successfully

---

---

#### 3. Find sum

In [25]:
def find_sum(arr: list):
    if len(arr3) == 0:
        raise IndexError("List is empty")
        return
    total = 0
    for i in range(len(arr)):
        if not isinstance(arr[i], (int, float)):
            raise TypeError("Value must be a number")
            return
        total += arr[i]
    return total

In [26]:
arr3 = [1,5,8,4,9,0,3,22,5,7,89,44,33,2,5,7,9,45,67,35,64,99]
try:
    result3 = find_sum(arr3)
except TypeError as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
else:
    print(f"The sum of list is {result3}")
finally:
    print("Execution completed successfully")

The sum of list is 563
Execution completed successfully

In [27]:
# Raise exception for an empty list

arr3 = []
try:
    result = find_sum(arr3)
except IndexError as e:
    print("Caught an exception: ", e)
except TypeError as e:
    print("Caught an exception: ", e)
else:
    print(f"The sum the list is {result}")
finally:
    print("Execution completed successfully")

Caught an exception:  List is empty
Execution completed successfully

In [28]:
# Raise Exception for non numeric values

arr3 = [23, 45, 65, 32, 'a', 61, None, False, 44]
try:
    result = find_sum(arr3)
except IndexError as e:
    print("Caught an exception: ", e)
except TypeError as e:
    print("Caught an exception: ", e)
else:
    print(f"The sum the list is {result}")
finally:
    print("Execution completed successfully")

Caught an exception:  Value must be a number
Execution completed successfully

In [29]:
# Using the pre-built sum() method to calculate sum of list

arr3 = [1,2,3,4,5,6,7,8]
result = sum(arr3)
result

36

---

---

#### 4. Find Average

In [30]:
def find_avg(arr):
    if len(arr) == 0:
        raise IndexError("List is empty")
        return
    total = 0
    for i in range(len(arr)):
        if not isinstance(arr[i], (int, float)):
            raise TypeError("Input must be numeric")
            return
        total += arr[i]
    return total / len(arr)

In [31]:
arr4 = [1,5,8,4,9,0,3,22,5,7,89,44,33,2,5,7,9,45,67,35,64,99]
try:
    result = find_avg(arr4)
except TypeError as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
else:
    print(f"The average of list is {result}")
finally:
    print("Execution completed successfully")

The average of list is 25.59090909090909
Execution completed successfully

In [32]:
arr4 = [23, 45, 65, 32, 'a', 61, None, False, 44]
try:
    result = find_avg(arr4)
except TypeError as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
else:
    print(f"The average of list is {result}")
finally:
    print("Execution completed successfully")

Caught an exception:  Input must be numeric
Execution completed successfully

In [33]:
arr4 = []
try:
    result = find_avg(arr4)
except TypeError as e:
    print("Caught an exception: ", e)
except IndexError as e:
    print("Caught an exception: ", e)
else:
    print(f"The average of list is {result}")
finally:
    print("Execution completed successfully")

Caught an exception:  List is empty
Execution completed successfully

---

---

#### 5. Frequency of each word in a sentence

In [75]:
# Split the words and strip off the blank spaces 

import re


words = sentence.strip().split(" ")
for i in range(len(words)):
    words[i] = re.sub(r'[^a-zA-z0-9]', '', words[i]).lower()
    
words

['hello', 'there', 'how', 'are', 'you', 'you', 'must', 'be', 'fine']

In [76]:
# Count the occurance of each word

word_count = {}
for i in range(len(words)):
    if words[i] not in word_count:
        word_count[words[i]] = 1
    else:
        word_count[words[i]] += 1
word_count

{'hello': 1,
 'there': 1,
 'how': 1,
 'are': 1,
 'you': 2,
 'must': 1,
 'be': 1,
 'fine': 1}

In [77]:
# Creating a function


def word_frequency(sentence):
    word_count = {}
    words = sentence.strip().split(" ")
    for i in range(len(words)):
        words[i] = re.sub(r'[^a-z-A-Z0-9]', '', words[i]).lower()
        if words[i] not in word_count:
            word_count[words[i]] = 1
        else:
            word_count[words[i]] += 1
    return word_count

In [78]:
sentence = "Hello, there! How are you. You must be fine."
result = word_frequency(sentence)
print(result)

{'hello': 1, 'there': 1, 'how': 1, 'are': 1, 'you': 2, 'must': 1, 'be': 1, 'fine': 1}

---

---

#### 6. Prime Number

In [119]:
# Naive approach

def prime_number1(n):
    if n < 2:
        return False
    for i in range(2,n):
        if n % i == 0:
            return False
    return True

In [120]:
prime_result1 = prime_number1(7)
print(prime_result1)

True

In [123]:
# Better approach

import math
def prime_number2(n):
    if n < 2:
        return False
    x = math.sqrt(n)
    for i in range(4, int(x)+1):
        if n % i == 0:
            return False
    return True

In [124]:
prime_result2 = prime_number2(5)
print(prime_result2)

True

In [126]:
# Best Approach


def prime_number3(n):
    if n == 2  or n == 3:
        return True
    elif n <= 1 or n % 2 == 0 or n % 3 == 0:
        return False
    x = math.sqrt(n)
    for i in range(5, int(x)+1, 6):
        if n % i == 0 or n % (i+2) == 0:
            return False
    return True

In [127]:
prime_result3 = prime_number3(13)
print(prime_result3)

True